@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
	body{
		background: Linear-gradient(90deg, rgb(70, 70, 70), rgb(0, 0, 0));
		background-size: 250%;
		font-family: "Pixelify Sans", sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
		color: white;
		margin: 100px;
		animation: entrada 2s forwards;
}
	p{
		color: white;
		font-size: 20px;
}
	#ads{
		position: fixed;
		opacity: 100%;
		width: 0%;
		height: 0%;
		border: none;
}
	#infinitytitle{
		margin-top: -79px;
		text-align: center;
		background-color: rgb(32, 32, 32);
		padding: 21px;
		border-radius: 15px;
		box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}
	#InfinityIcon{
		border-radius: 20px;
		cursor: pointer;
}
	#Sobre{
		background-color: rgb(32, 32, 32);
		padding: 15px;
		border-radius: 15px;
		box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.1);
}