@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
body{
	background: linear-gradient(270deg, #464646, #000000, #797979);
	background-size: 600% 600%;
	animation: gradientShift 12s ease infinite;
	color: white;
	font-family: "Pixelify Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
@keyframes gradientShift {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}
#obg{
    justify-content: center;
    display: flex;
    margin: 30px auto;
}
button{
	font-size: 20px;
	background-color: rgb(32, 32, 32);
	border-radius: 10px;
	color: white;
	cursor: pointer;
	height: 60px;
	width: 190px;
	transition: 500ms;
	box-shadow: 10px 28px 15px rgba(0, 0, 0, 0.1);
    padding: 15px 32px;
	border: none;
	font-family: "Pixelify Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
button:hover{
    background-color: white;
    color: black;
    border-radius: 6px;
}
.doação{
    margin-top: 300px;
}