@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
body{
    background-color: black;
    color: white;
    font-family: "Pixelify Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
#obg{
    justify-content: center;
    display: flex;
    margin: 30px auto;
}
button{
	font-size: 20px;
	background-color: rgb(32, 32, 32);
	border-radius: 10px;
	color: white;
	cursor: pointer;
	height: 60px;
	width: 190px;
	transition: 500ms;
	box-shadow: 10px 28px 15px rgba(0, 0, 0, 0.1);
    padding: 15px 32px;
	border: none;
	font-family: "Pixelify Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
button:hover{
    background-color: white;
    color: black;
    border-radius: 6px;
}
.doação{
    margin-top: 300px;
}