@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@keyframes entrada {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
body{
    background-color: rgb(32, 32, 32);
    font-family: "Pixelify Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
    color: white;
    animation: forwards 2s entrada;
}
.Infinity{
	display: flex;
}
#infinitytitle{
	margin-top: 30px;
	margin-left: 100px;
	position: flex;
}
.app{
    background: none;
    color: rgb(32, 32, 32);
    transition: 500ms;
    width: 55%;
    cursor: cell;
}
.app:hover{
    background: rgb(53, 53, 53);
    color: white;
    border-radius: 20px;
}
.app-error{
    background: none;
    color: rgb(32, 32, 32);
    transition: 500ms;
    width: 55%;
    cursor: cell;
}
.app-error:hover{
    background: rgb(255, 64, 64);
    color: white;
    border-radius: 20px;
}
#aviso{
    color: red;
}