@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@keyframes entrada {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
body{
    background-color: rgb(27, 27, 27);
    font-family: "Pixelify Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
    color: white;
    animation: forwards 2s entrada;
}
.Infinity{
	display: flex;
}
#infinitytitle{
	margin-top: -115px;
	text-align: center;
	background-color: rgb(32, 32, 32);
	padding: 21px;
	border-radius: 15px;
}
#InfinityIcon{
	margin: 35px;
    border-radius: 20px;
    cursor: pointer;
}
button{
	font-size: 20px;
	background-color: rgb(43, 43, 43);
	border-radius: 10px;
	color: white;
	cursor: pointer;
	height: 80px;
	width: 300px;
	transition: 500ms;
	box-shadow: 10px 28px 15px rgba(0, 0, 0, 0.1);
	padding: 15px 32px;
	border: none;
	font-family: "Pixelify Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
    margin: 5px;
}
button:hover{
	margin-top: -2px;
	font-size: 25px;
	background-color: white;
	color: black;
	border-color: rgb(0, 0, 0);
}
#slc{
    opacity: 50%;   
}
.app{
    background: none;
    color: rgb(27, 27, 27);
    transition: 500ms;
    width: 55%;
    cursor: cell;
    margin-top: 5%;
}
.app:hover{
    background: rgb(53, 53, 53);
    color: white;
    border-radius: 20px;
}
.app-error{
    margin-top: 5%;
    background: none;
    color: rgb(27, 27, 27);
    transition: 500ms;
    width: 55%;
    cursor: no-drop;
}
.app-error:hover{
    background: rgb(255, 64, 64);
    color: white;
    border-radius: 20px;
}
#ads{
	position: fixed;
	opacity: 100%;
	width: 0%;
	height: 0%;
	border: none;
}